li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8 {
    list-style-type: decimal !important
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #689CD2;
    color: #fff;
    font-family: Uni Sans;
}

.header__section {
    display: flex;
    align-items: center;
}

.header__item {
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 5px;
}

.header__item:hover {
    background-color: #FF9900;
    border-radius: 4px;
}

.headerlogo {
    font-weight: bold;
}

.headerButton {
    cursor: pointer;
}

.header {
    font-size: 18px;
    text-align: end;
    margin-right: 45px;
    margin-top: 16px;
}