{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}TinyLinks{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="header">
    <div class="header__section">
        <div class="header__item headerlogo">
            Tiny Links
        </div>
        <div class="header__item headerButton"><a style="color: #fff;
    text-decoration: none;" href="">Список ссылок</a></div>
        <div class="header__item headerButton"><a style="color: #fff;
    text-decoration: none;" href="">Создать ссылку</a></div>
    </div>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>

<script>
    $(document).ready(function () {
        {% block ajax_request %}
        {% endblock %}
    });
</script>

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</body>
</html>