{% extends 'base.html' %}

{% block content %}
    <h1 class="mt-2" style="margin-top: 2.5rem !important;margin-left: 21px">Создание ссылки</h1>
    <hr class="mt-0 mb-4">
    <div class="card" id="card-shadow" style="margin-left: 15px">
        <div class="card-header">
            <span class="badge badge-info">
                <h5>
                    {{ link.full_link }}
                </h5>
            </span>
            <p class="font-weight-normal">было открыто {{ link.redirects }} раза</p>
        </div>
        <div class="card-body">
            <a class="card-title"
               href="http://127.0.0.1:8000/links/{{ link.short_link }}">http://127.0.0.1:8000/links/{{ link.short_link }}</a>
            <a href="{% url 'links:view' link.short_link %}" class="btn btn-primary">
                Открыть ссылку
            </a>
            <a href="{% url 'links:delete' link.id %}" class="btn btn-danger">
                Удалить ссылку
            </a>
        </div>
    </div>
{% endblock %}