{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <a href="{% url 'links:create_view' %}" class="btn btn-outline-primary">
            <i class="fas fa-plus"></i>
            Создать короткую ссылку
        </a>
    </div>
    <div class="justify-content-center">
        <h1 class="mt-2">Все ссылки</h1>
    </div>
    <hr class="mt-0 mb-4">
    {% if links_list %}
        <ul class="justify-content-center">
            {% for link in links_list %}
                <li>
                    <div class="card" id="card-shadow">
                        <div class="card-header">
                            <span class="badge badge-info">
                                <h5>
                                    {{ link.full_link }}
                                </h5>
                            </span>
                            <p class="font-weight-normal">was opened # times</p>
                        </div>
                        <div class="card-body">
                            <a class="card-title" href="#">sdfd</a>
                            <a href="#" class="btn btn-primary">
                                <i class="fas fa-link"></i>
                                OPEN LINK
                            </a>
                            <a href="#" class="btn btn-danger">
                                <i class="far fa-trash-alt"></i>
                                DELETE
                            </a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No tiny links are available</p>
    {% endif %}
{% endblock %}
