{% extends 'base.html' %}

{% block content %}
    <div class="justify-content-center">
        <h1 class="mt-2" style="margin-top: 2.5rem !important;margin-left: 39px;">Все ссылки</h1>
    </div>
    <hr class="mt-0 mb-4">
    {% if links_list %}
        <ul class="justify-content-center">
            {% for link in links_list %}
                <li>
                    <div class="card" id="card-shadow">
                        <div class="card-header">
                            <span class="badge badge-info">
                                <h5>
                                    <a href="{% url 'links:detail' link.id %}" style="color: white">{{ link.full_link }}</a>
                                </h5>
                            </span>
                            <p class="font-weight-normal">было открыто {{ link.redirects }} раза</p>
                        </div>
                        <div class="card-body">
                            <a class="card-title" href="http://127.0.0.1:8000/links/{{ link.short_link }}">http://127.0.0.1:8000/links/{{ link.short_link }}</a>
                            <a href="{% url 'links:view' link.short_link %}" class="btn btn-primary" style="margin-left: 15px;">
                                <i class="fas fa-link"></i>
                                Открыть ссылку
                            </a>
                            <a href="{% url 'links:delete' link.id %}" class="btn btn-danger">
                                <i class="far fa-trash-alt"></i>
                                Удалить ссылку
                            </a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Нет доступных ссылок</p>
    {% endif %}
{% endblock %}